@font-face {
    font-family: "Gordita";
    font-weight: 600;
    src: url("/fonts/Gordita/Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Gordita";
    font-weight: 500;
    src: url("/fonts/Gordita/Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Gordita";
    font-weight: 400;
    src: url("/fonts/Gordita/Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Harmonia";
    font-weight: 700;
    src: url("/fonts/Harmonia/Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Harmonia";
    font-weight: 500;
    src: url("/fonts/Harmonia/Regular.woff2") format("woff2");
}
