@font-face {
    font-family: "Sofia pro";
    font-weight: 700;
    src: url("./fonts/Sofia-Pro/Sofia-Pro-Bold.otf") format("otf");
}

@font-face {
    font-family: "Sofia pro";
    font-weight: 600;
    src: url("./fonts/Sofia-Pro/Sofia-Pro-Semi-Bold.otf") format("otf");
}

@font-face {
    font-family: "Sofia Pro";
    font-weight: 500;
    src: url("./fonts/Sofia-Pro/Sofia-Pro-Medium.otf") format("otf");
}

@font-face {
    font-family: "Sofia Pro";
    font-weight: 400;
    src: url("./fonts/Sofia-Pro/Sofia-Pro-Regular.otf") format("otf");
}
