$three-row-grid: [row1] 1fr [row1-end row2] 8fr [row2-end row3] 1fr [row3-end];
$three-row-grid-sm: [row1] 1fr [row1-end row2] 10fr [row2-end row3] 1fr [row3-end];
$three-row-inner-grid: [i-row1] 1fr [i-row-1-end i-row2] 4fr [i-row-2-end i-row3] 1fr [i-row3-end];

$three-column-grid: [col1] 1fr [col-1-end col2] 10fr [col-2-end col3] 1fr [col3-end];
$three-column-inner-grid: [i-col1] 1fr [i-col1-end i-col2] 8fr [i-col2-end i-col3] 1fr [i-col3-end];
$four-column-inner-grid: [i-col1] 1fr [i-col1-end i-col2] 4fr [i-col2-end i-col3] 4fr [i-col3-end i-col4] 1fr [i-col4-end];
$four-column-inner-grid-sm: [i-col1] 1fr [i-col1-end i-col2] 6fr [i-col2-end i-col3] 6fr [i-col3-end i-col4] 1fr [i-col4-end];
$five-column-grid: [col1] 1fr [col1-end col2] 1fr [col2-end col3] 4fr [col3-end col4] 4fr [col4-end col5] 1fr [col5-end col6] 1fr [col6-end];

.wrapper {
  display: grid;
  width: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.row-grid {
  display: grid;
  grid-template-rows: $three-row-grid;
  height: 100%;

  @media (max-width: 760px) {
    grid-template-rows: $three-row-grid-sm;
  }

  &.inner {
    grid-template-rows: $three-row-inner-grid;
  }
}

.column-grid {
  position: relative;
  display: grid;
  grid-template-columns: $five-column-grid;
  border-bottom: var(--border);
  height: 100%;

  &.second-chunk {
    grid-template-columns: $three-column-grid;
  }

  &.inner {
    grid-template-columns: $four-column-inner-grid;

    @media (max-width: 760px) {
      grid-template-columns: $four-column-inner-grid-sm;
    }
  }

  .col {
    border-right: var(--border);
    justify-self: stretch;
    align-self: stretch;
  }
}
