/* Background*/
$background: #f1f5f8;
$dark-background: #8D8B8B;

/* Primary color [brand colors] */
$primary: #FFCDAC;
$primary-light: rgb(245, 218, 192);
$primary-dark: #E8B37D;
$primary-gradient: linear-gradient(-45deg, #ce9e6f, #e8b37d 62%, #ffc686);

$secondary: #001E42;

/* Accent color [ctas, buttons, highlight info] */

$accent: #545557;
// $accent-alt: #4F4F4F;
// $accent-alt-2: #4F4F4F;

/* Semantic color [success, error, warning, information] */
$success: #20c997;
$error: #e45f4d;

/* Neutral colors [text, containers] */
$neutral-white: #ffffff;

